@media screen and (min-width: 1432px) {
  header {
    max-height: 100vh;
  }
}
@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem !important;
  }
  /* ################################################## */
  .u-input-control {
    flex-direction: column;
    :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  }
  /* ################################################## */
  .contact {
    &__container {
      &--content {
        flex-direction: column;
        .content__right {
          margin-left: 0;
          margin-top: 2.5rem;
        }
      }
    }
  }
  /* ################################################## */
  .header__content {
    padding-bottom: 6rem;
    &--left {
      .image {
        margin: 0 auto;
        width: 90%;
      }
    }

    &--right {
      margin: 0 auto;
      padding: 1rem !important;
      width: 100%;
      .name {
        font-size: 4rem !important;
      }
    }
  }
  /* ################################################## */
  .blogs {
    &__content {
      &--container {
        padding-top: 6rem;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 4rem 8rem !important;
  }
  .about {
    &__container {
      grid-template-columns: 1fr;
      &--right {
        grid-template-columns: 1fr;
        padding-top: 2.5rem;
      }
    }
  }
  /* ################################################## */
  .header__content {
    grid-template-columns: 1fr;

    &--left {
      .h-shape {
        display: none;
      }
      .image {
        margin: 0 auto;
        width: 90%;
      }
    }

    &--right {
      grid-row: 1;
      margin: 0 auto;
      padding: 2rem !important;
      width: 90%;
      .name {
        font-size: 2.5rem !important;
      }
    }
  }
  /* ################################################## */
  .portfolio {
    &__portfolios {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 6rem;
    }
  }
  /* ################################################## */
  .blogs {
    &__content {
      &--container {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 6rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 4rem 6rem !important;
  }
  /* ################################################## */
  .about {
    &__stats {
      .progress-bars {
        grid-template-columns: 1fr;
      }
    }
    &__timeline {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
  }
  /* ################################################## */
  .portfolio {
    &__portfolios {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
  }
  /* ################################################## */
  .blogs {
    &__content {
      &--container {
        grid-template-columns: 1fr;
        padding-top: 6rem;
      }
    }
  }
  /* ################################################## */
  .contact {
    &__container {
      &--content {
        .content__left {
          &--contact-icons {
            .contact-icon {
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }

  .section {
    padding: 2rem 2.5rem !important;
  }
  /* ################################################## */
  .header__content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    &--left {
      .h-shape {
        display: none;
      }
      .image {
        margin: 0 auto;
        width: 90%;
      }
    }

    &--right {
      grid-row: 1;
      margin: 0 auto;
      padding: 2rem !important;
      width: 90%;
      .name {
        font-size: 2.5rem !important;
      }
    }
  }
  /* ################################################## */
  .about {
    &__container {
      grid-template-columns: 1fr;
      &--right {
        grid-template-columns: 1fr;
        padding-top: 2.5rem;
      }
      &--left {
        padding-right: 0;
        p {
          padding-left: 0;
        }
      }
    }
    &__stats {
      .progress-bars {
        grid-template-columns: 1fr;
      }
    }
    &__timeline {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
  }
  /* ################################################## */
  .portfolio {
    &__portfolios {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
  }
  /* ################################################## */
  .blogs {
    &__content {
      &--container {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
      }
    }
  }
  /* ################################################## */
  .controls {
    background-color: var(--color-grey-5);
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    width: 100%;
    &__control {
      margin: 1rem 0.3rem;
    }
  }
  /* ################################################## */
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  /* ################################################## */
  .contact {
    &__container {
      &--content {
        .content__right {
          &--contact-form {
            .container-btn {
              align-items: center;
              display: flex;
              margin-bottom: 5rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 490px) {
    .contact {
      &__container {
        &--content {
          .content__left {
            &--info-contact {
              .contact__item {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                  margin: 0.3rem 0 !important;
                  padding: 0 2.5rem !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
