@mixin sectProps {
  display: none;
  transform: translateY(0) scale(1);
}

@mixin mainTitleProps {
  text-align: center;

  h2 {
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;

    span {
      color: var(--color-secondary);
    }

    .bg-text {
      color: var(--color-grey-5);
      font-size: 6.3rem;
      font-weight: 800;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease-in-out;
      z-index: -1;
    }
  }
}
