%titleprops {
  font-size: 1.4rem;
  padding: 3.5rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "";
    background-color: var(--color-grey-5);
    height: 1px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 40%;
  }
}

.about {
  &__main-title {
    text-align: center;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      position: relative;
      text-transform: uppercase;

      span {
        color: var(--color-secondary);
      }

      .bg-text {
        color: var(--color-grey-5);
        font-size: 6.3rem;
        font-weight: 800;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease-in-out;
        z-index: -1;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
    padding-top: 3.5rem;

    &--right {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);

      .about-item {
        border-radius: 5px;
        border: 1px solid var(--color-grey-5);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease-in-out;

        &:hover {
          border: 1px solid var(--color-secondary);
          box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
          cursor: default;
          transform: translateY(-5px);
        }

        &__text {
          padding: 1.5rem;
          display: flex;
          flex-direction: column;

          &--large {
            color: var(--color-secondary);
            font-size: 3rem;
            font-weight: 700;
          }

          &--small {
            color: var(--color-grey-1);
            font-size: 1.2rem;
            letter-spacing: 2px;
            padding-left: 3rem;
            position: relative;
            text-transform: uppercase;

            &::before {
              background-color: var(--color-grey-5);
              content: "";
              height: 2px;
              left: 0;
              position: absolute;
              top: 15px;
              width: 2rem;
            }
          }
        }
      }
    }
    &--left {
      padding-right: 5rem;

      h4 {
        font-size: 2rem;
        text-transform: uppercase;
      }

      p {
        color: var(--color-grey-1);
        line-height: 2rem;
        padding: 1rem;
      }
    }
  }

  &__stats {
    padding-bottom: 4rem;

    &--title {
      @extend %titleprops;
    }

    .progress-bars {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;

      .progress-bar {
        display: flex;
        flex-direction: column;
        grid-gap: 0.5rem;

        &--title {
          text-transform: uppercase;
          font-weight: 500;
        }

        &__content {
          align-items: center;
          display: flex;

          &--text {
            color: var(--color-grey-2);
          }

          &--progress {
            background-color: var(--color-grey-4);
            height: 0.45rem;
            margin-left: 1rem;
            position: relative;
            width: 100%;

            span {
              background-color: var(--color-secondary);
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              transition: all 0.4s ease-in-out;
              width: 50%;
            }

            .html {
              width: 85%;
            }

            .css {
              width: 90%;
            }

            .js {
              width: 75%;
            }

            .react {
              width: 78%;
            }

            .nodejs {
              width: 83%;
            }

            .vue {
              width: 75%;
            }
          }
        }
      }
    }
  }

  .timeline--title {
    @extend %titleprops;
  }

  &__timeline {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3rem;

    .timeline__item {
      border-left: 2px solid var(--color-grey-5);
      padding-left: 3rem;
      position: relative;

      &--icon {
        align-items: center;
        background-color: var(--color-secondary);
        border-radius: 50%;
        display: flex;
        height: 50px;
        justify-content: center;
        left: -27px;
        position: absolute;
        top: 0;
        width: 50px;
        i {
          font-size: 1.3rem;
        }
      }

      &--duration {
        background-color: var(--color-grey-5);
        border-radius: 15px;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        text-transform: uppercase;
      }

      h5 {
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;

        span {
          color: var(--color-grey-2);
          font-weight: 500;
          font-size: 1.2rem;
        }
      }

      p {
        color: var(--color-grey-2);
      }
    }
  }
}
