%Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  &__main-title {
    @include mainTitleProps;
  }
  &__text {
    padding: 2rem 0;
    text-align: center;
  }
  &__category {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-secondary);
    grid-column: 1/-1;
  }
  &__portfolios {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    .portfolio__item {
      position: relative;

      &--image {
        img {
          border-radius: 15px;
          height: 300px;
          object-fit: cover;
          width: 100%;
        }
      }

      &--hover {
        @extend %Center;
        background-color: var(--color-secondary);
        border-radius: 15px;
        flex-direction: column;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
        width: 100%;

        h3 {
          font-size: 1.5rem;
          color: var(--color-white);
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 1rem;
          color: var(--color-white);
          margin: 0 1rem;
          margin-bottom: 1.5rem;
        }

        .icons {
          @extend %Center;
          .icon {
            @extend %Center;
            background-color: var(--color-primary);
            border-radius: 50%;
            cursor: pointer;
            height: 50px;
            margin: 0 1rem;
            transition: all 0.4s ease-in-out;
            width: 50px;
            i {
              font-size: 1.5rem;
              color: var(--color-white);
              margin: 0 1rem;
            }
            &:hover {
              background-color: var(--color-white);
              i {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
    .portfolio__item:hover .portfolio__item--hover {
      opacity: 1;
      transform: scale(1);
    }
  }
}
